<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <title>GoneGoSK9</title>
</head>
<header>
        <div class="homeLogo">
            <a  href="/">GoneGoSK9</a>
        </div>
        <div class="mkEvent">
            <a href="/events/new">Post a Meetup Event</a>
        </div>
        <!-- <div>
            <a href="spot">Skate Spots</a>
        </div> -->
        <!-- <div class = "search-box">
            <input type="search" id="nav-search" placeholder="Search meetups, freinds, skate spots"></input>
        </div> -->
        <div class = "login">
            <% if (user) { %>
                <a href="/logout">Log Out</a>
            <% } else { %>
                <a href="/auth/google">Login with Google</a>
            <% } %>
        </div>
</header>
<body>



