<%- include('./partials/header.ejs') %>
 
      <h1></h1>
      <p>Welcome to Gone Go SK9</p>
      <h1>Events</h1>
  <table>
      <thead>
          <tr>
              <th>Spot</th>
              <th>time</th>

          </tr>
      </thead>
      <tbody>
      <% if(events){%>
          <% events.forEach(function(e) { %>
              <tr>
                  <td><%= e.spot %></td>
                  <td><%= e.time %></td>
                  <td><a href="/events/<%= e._id %>"">more intel</a></td>  
                               
              </tr>
          <% }); }%>
      </tbody>
  </table>

  </body>
</html>
